{literal}
<script type="text/javascript">
    webChat.confirmInvitation = (function () {
        var __checkedGroupIds = {};
        var _check = function (element, id) {
            var $this = $(element);
            if ($this.is(':checked')) {
                __checkedGroupIds[id] = 1;
            } else {
                __checkedGroupIds[id] = 0;
            }
        }

        var _accept = function () {
            for (var key in __checkedGroupIds) {
                if (__checkedGroupIds.hasOwnProperty(key) && __checkedGroupIds[key] && !webChat.chat.existGroupId(parseInt(key))) {
                    _joinGroup(key);
                }
            }
            __checkedGroupIds = {};
        }

        var _decline = function () {
            for (var key in __checkedGroupIds) {
                if (__checkedGroupIds.hasOwnProperty(key) && __checkedGroupIds[key] && !webChat.chat.existGroupId(parseInt(key))) {
                    _declineGroup(key);
                }
            }
            __checkedGroupIds = {};
        }

        var _getCheckedGroupIds = function () {
            return __checkedGroupIds;
        }

        var _clearData = function () {
            __checkedGroupIds = {};
        }

        var _joinGroup = function (groupId) {
            $.ajax({
                method: "POST",
                url: "joinGroup.php?v=" + new Date().getTime(),
                async: false,
                data: {"group_id": groupId, status: 1},
                success: function (data) {
                    data = JSON.parse(data);
                    if (!webChat.common.checkSession(data)) {
                        return;
                    }
                    if (typeof data != "undefined" && data.error >= 0) {
                        if (data.data > 0)
                            webChat.chat.getGroup(data.data);
                    }
                    else {
                        webChat.chat.alertMessage(data.message);
                    }
                }
            });
        }
        var _declineGroup = function (groupId) {
            $.ajax({
                method: "POST",
                url: "joinGroup.php?v=" + new Date().getTime(),
                async: false,
                data: {"group_id": groupId, status: "-1"},
                success: function (data) {
                    if (!webChat.common.checkSession(data)) {
                        return;
                    }
                }
            });
        }


        return {
            check: _check,
            getCheckedGroupIds: _getCheckedGroupIds,
            accept: _accept,
            clearData: _clearData,
            joinGroup: _joinGroup,
            decline: _decline
        };
    })();
</script>
{/literal}

{foreach $groups as $group}
<div id="{$group->id}" data-chat="">
    <a href="javascript:void(0);">
        <div style="float: left"><img src="{$group->avatar}" style="width: 32px;height: 32px;"></div>
        <div style="float: left;margin-left: 20px">{$group->group_name|escape}</div>
        <input type="checkbox" onchange="webChat.confirmInvitation.check(this,{$group->id})">

        <div style="clear: both;"></div>
    </a>
</div>
{/foreach}
