<div id="content">
    <h2>Sign In</h2>
   <form action="signin.php"  method="post">
       <div class="error">{$error}</div>
       <div class="info">{$info}</div>
       <div>
           <label>Username</label>
           <input type="text" maxlength="100" name="username" id="username" value="{$username}"/>
       </div>
       <div>
           <label>Password</label>
           <input type="password" maxlength="20" name="password" id="password"/>
       </div>
       <div>
           <label></label>
           <input type="submit"  name="log_in"  id="log_in" value="Log In"/>
       </div>
   </form>
    <div class="clear"></div>
</div>
